/* Responsive Styling */

@media (max-width: 992px) {
    body {
        font-size: 14px;
    }

    header{
        height: 100px;
    }

    header h1 {
        font-size: 1.5em;
    }

    .hero {
        padding: 50px 0;
    }

    .hero h1 {
        font-size: 2em;
    }

    nav {
        flex-direction: column;
        gap: 10px;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }

}

